<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>P.L.C.A - INDEX</title>

    <!-- js -->

    <script src="{{ url_for('static', filename='js/pkgs/jquery-1.11.3.min.js') }}"></script>

    <!-- css -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/init.css') }}">

</head>

<body>

    <span class="center" style="top: 30px !important; font-weight: 600; color: white; font-size: 25px;"> PY POS LICENSE
        VERIFICATION </span>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        a {
            color: black;
            text-align: center;
        }

        table,
        th,
        td {
            text-align: center;
            border: 1px solid black;
            font-size: 20px;
        }

        td {
            padding: 10px;
        }

        table {
            width: 90%;
        }
    </style>

    <script>
        $(document).ready(function () {

            $('.copy').click(function (e) {
                e.preventDefault();
                var $temp = $("<input>");
                $("body").append($temp);
                $temp.val($(this).parent().find('span').text()).select();
                $(this).css('background-color', 'green')
                $(this).text('COPIED')
                document.execCommand("copy");
                $temp.remove();
            });

            $('#list_keys_toggle').click(function (e) {
                e.preventDefault();
                $('#regs_table_wrpr').css('display', 'none')
                $('#keys_table_wrpr').css('display', 'flex')
            });

            $('#list_regs_toggle').click(function (e) {
                e.preventDefault();
                $('#keys_table_wrpr').css('display', 'none')
                $('#regs_table_wrpr').css('display', 'flex')
            });

            $('#auth_token').click(function (e) {
                e.preventDefault();

                $.ajax({
                    type: "POST",
                    url: '/t',
                    dataType: 'json',
                    contentType: 'application/json;charset=UTF-8',
                    data: JSON.stringify({
                        'GET_AUTH_TOKEN_5': '1'
                    }),
                    success: (r) => {

                        let auth_token = r['status']

                        var $temp = $("<input>");
                        $("body").append($temp);
                        $temp.val(auth_token).select();
                        document.execCommand("copy");
                        $temp.remove();
                        alert('AUTH TOKEN COPIED.')

                    },
                    error: () => {
                        alert('error')
                    }
                })

            });

        });
    </script>

    <div class="box-shadow flex-c-se" style="width: 95%; height: 80%; background-color: #ffffff81;">
        <!-- OUTER WRPR -->

        <div class="wh100 flex-c-c">
            <!-- INNER LEFT WRPR -->

            <div id="regs_table_wrpr" class="wh100" style="overflow-y: auto; display: none;">
                <!-- REGS WRPR -->

                <table class="w100" style="height: 30px;">

                    <tr style="height: 30px;">

                        <th>LICENSEKEY</th>
                        <th>BASEBOARD_SERIAL_NUMBER</th>
                        <th>SERIAL_NUMBER</th>
                        <th>UUID</th>
                        <th>النشاط</th>

                    </tr>

                    {% if regs %}

                    {% for device in regs %}

                    <tr>
                        <td>{{ device.license_key }}</td>
                        <td>{{ device.baseboard_serial_number }}</td>
                        <td>{{ device.serial_number }}</td>
                        <td>{{ device.uuid }}</td>
                        <td>{{ device.business_type }}</td>
                    </tr>

                    {% endfor %}

                    {% endif %}

                </table>

            </div>

            <div id="keys_table_wrpr" class="wh100" style="overflow-y: auto;">
                <!-- KEYS WRPR -->

                <table class="w100">

                    <tr style="height: 30px;">
                        <th>STATUS</th>
                        <th>LICENSEKEY</th>
                    </tr>

                    {% for key in keys %}

                    {% if key.status == 'USED' %}

                    <tr style="background-color: red;">
                        <td>{{ key.status }}</td>
                        <td class="flex-c-sb" style="padding-left: 5px;"> <span
                                style="text-align: center; width: 90%;">{{ key.key }}</span> <a href="#" class="btn blue_btn copy"
                                style="font-size: small; width: auto; height: auto; padding: 3px 7px;">COPY</a> </td>
                    </tr>

                    {% else %}

                    <tr>
                        <td>{{ key.status }}</td>
                        <td class="flex-c-sb" style="padding-left: 5px;"> <span
                                style="text-align: center; width: 90%;">{{ key.key }}</span> <a href="#" class="btn blue_btn copy"
                                style="font-size: small; width: auto; height: auto; padding: 3px 7px;">COPY</a> </td>
                    </tr>

                    {% endif %}

                    {% endfor %}

                </table>

            </div>


        </div>

        <div style="width: 30% !important;" class="h100 flex-c-c-se box-shadow">
            <!-- INNER RIGHT WRPR -->

            <a id="list_keys_toggle" class="btn trans_btn" style="width: 250px; padding: 0 10px;" href="#">LIST KEYS</a>
            <a id="list_regs_toggle" class="btn trans_btn" style="width: 250px; padding: 0 10px;" href="#">LIST
                REGISTRIES</a>
            <a id="auth_token" class="btn trans_btn" style="width: 250px; padding: 0 10px;" href="#">AUTH TOKEN ( 5m
                )</a>
            <a class="btn red_btn" style="width: 250px; padding: 0 10px;" href="{{ url_for('main.reset_db') }}">RESET DB
                ( DEV OPTION )</a>

        </div>

    </div>

</body>

</html>